* {
  border: 0;
  padding: 0;
  box-sizing: border-box; }

header nav {
  background-color: #ffd8c8; }
  header nav img {
    border-radius: 50%;
    border: white 3px solid; }
    header nav img:hover {
      border: #ffd8c8 3px solid; }
  header nav ul li {
    background-color: #ffd8c8; }
    header nav ul li a {
      color: #050505; }
      header nav ul li a:hover {
        font-weight: bold; }

main h2 {
  text-align: center;
  margin: 0.5em; }

main p {
  text-align: center;
  font-family: cursive;
  font-size: 1.1rem; }

main .bord {
  box-shadow: 5px 16px #ffd8c8; }

main .main {
  grid-area: main; }

main #galeria {
  padding: 25px; }
  main #galeria img {
    width: 200px;
    height: 200px; }

.transf:hover {
  transform: scale(1.2, 1.2); }

main .form {
  max-width: 25em;
  padding: 1.3em;
  margin: 0 auto;
  background-color: rgba(120, 119, 123, 0.3);
  font-weight: bold;
  border-radius: 0.5em;
  box-shadow: inset 1px 1px 22px 4px rgba(0, 0, 0, 0.85); }

footer .containerFooter {
  padding-top: 10px;
  display: grid;
  background-color: #6c757d;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "redes  barra-de-nav-2  ws"; }
  footer .containerFooter .redes {
    grid-area: redes;
    padding: 20px;
    margin: 15px; }
  footer .containerFooter .barra-de-nav-2 {
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    footer .containerFooter .barra-de-nav-2 ul {
      list-style: none;
      text-align: center; }
      footer .containerFooter .barra-de-nav-2 ul li {
        display: block;
        padding: 2px; }
        footer .containerFooter .barra-de-nav-2 ul li a {
          text-decoration: none;
          color: #fdfcfc; }
          footer .containerFooter .barra-de-nav-2 ul li a:hover {
            font-weight: bold; }

.ws {
  grid-area: ws;
  position: fixed;
  bottom: 20px;
  right: 10px; }
