header {
    nav {
        background-color: $color_fuente;

        img{
            border-radius: 50%;
            border: white 3px solid;
            &:hover{
                border: $color_fuente 3px solid;
            }
        }

        ul {
            
            li {
                background-color: $color_fuente;
                
                
                 a {
                    color: rgb(5, 5, 5);
                        &:hover{
                        font-weight: bold;
                        
                    }
                }
            }
        }

    }
}