main {
    h2 {
        text-align: center;
        margin: 0.5em;
    }

    p {
        text-align: center;
        font-size: 1.1rem;
    }

    .tipografiaInd {
        h1 {
            font-family: 'Dancing Script', cursive;
            font-weight: bold;
            margin-top: 50px;
            text-align: center;
        }

        h2 {
            font-family: 'Dancing Script', cursive;
            text-decoration: underline;
        }

        p {
            font-family: 'Dancing Script', cursive;
            font-size: 1.7rem;
        }
    }

    .bord {
        box-shadow: 5px 16px $color_fuente;
    }

    .main {
        grid-area: main
    }

    #galeria {
        @include galeria
    }
    .container{
        .card-altura{
            height: 200px;
            width: 150px;
            text-align: center;
        }
    }
}

.transf:hover {
    transform: scale(1.2, 1.2);
}