*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
/*ESTILO BODY */
body{
    background-image: url(../img/FONDO\ 3\ 11.png)
    
}
/* CIERRE ESTILO BODY */

/* ESTILOS HEADER */

.color{
    background-color: #ffd8c8;
}

nav ul li a{
    font-family:cursive;

}

/* CIERRE ESTILOS HEADER */

/* ESTILOS MAIN */

main h2{
    text-align: center;
    margin: 0.5em;
}
main p{
    text-align: center;
    font-family:cursive;
    font-size: 1.1rem;
}
.bord{
  box-shadow: 5px 16px #ffd8c8;
}

/* CIERRE ESTILO MAIN */

/* TRANSFORMACION EN IMAGENES DE FRUTAS/VERDURAS/JUGOS */

.transf:hover{
  transform: scale(1.2,1.2);
}

/*CIERRE DE TRANSFORMACIONES */

/* ESTILOS FORMULARIO CONTACTO */

.styleMainCont {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
      "header header header"
      ". main ."
      "footer footer footer";
}

.main {
  grid-area: main
}

.styleMainCont {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

form {
  background-image: url(../img/transp2.png);
  padding: 1rem;
  border: solid;
  

}

.margin20 {
  margin: 2rem;
  color: #faad8e;
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  display: block;

}

legend {
  color: #fdffd9;
}

.enviar {
  margin: 10px;
  font-style: italic;
  font-size: 1rem;
  font-weight: bold;
  border: solid;
}

.enviar:hover {
  color: #faad8e;
  background-color: black;
}

/* CIERRE ESTILO FORMULARIO CONTACTO */

/* ESTILO FOOTER */


.containerFooter {
    display: grid;
    background-color: #f7d0c1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "redes  barra-de-nav-2  ws"
  }
  
  .redes {
    grid-area: redes;
    padding: 5px;
    margin: 15px;
  }
  
  .barra-de-nav-2 {
    font-size: 1.1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  .barra-de-nav-2 ul {
    list-style: none;
   text-align: center;
    
  }
  
  .barra-de-nav-2 ul li {
    display: block;
    padding: 5px;
  }
  .barra-de-nav-2 ul li a{
    text-decoration: none;
    color: black;
  }
  .barra-de-nav-2 ul li a:hover {
    font-weight: bold;
  }
  .ws {
    grid-area: ws;
    position: fixed;
    bottom: 20px;
    right: 10px;
  }
  
  /* CIERRE ESTILO FOOTER */